#clockContainer{
	position: relative;
	height: 40vw;
	width: 40vw;
	background: url(Clock.gif) no-repeat;
	background-size: 100%;
	border: 2px solid gray;
	margin: auto;
}

#hour, #minute, #second{
	position: absolute;
    transform-origin: bottom;
	border-radius: 10px;
}

.box:before{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    transform: skew(2deg,2deg);
    z-index: -1;
}

#hour {
    width: 3%;
    height: 31%;
    top: 20%;
    left: 47.8%;
    opacity: 0.8;
    background: black;
}

#minute {
    width: 2.5%;
    height: 36%;
    top: 15%;
    left: 48%;
    opacity: 0.8;
    background: gray;
}

#second{
	width: 0.5%;
    height: 42%;
    top: 9%;
    left: 49.1%;
    opacity: 0.8;
    background: red;
}

